langchain_google_genai 
langchain
langchain_community
streamlit
python-dotenv
PyPDF2
black
blackcellmagic

# To install this local package MCQ-Gen inside the virtual enviroment, run the following command:
-e .